section.player-ui {
  padding: 0 0 0 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  color: white;

  span, div {
    text-shadow : 0 0 6px black;
  }

  div.profile-img-ctr{
    height: 120px;
    width: 120px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  div.player-stats-ctr {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(150deg, rgba(40,46,52, 1) 30%, rgba(40,46,52, 0.1) 70%);

    div {
      padding: 4px;
    }
    .player-tag {
      display: flex;
      flex-direction: row;
      span {
        padding: 0 10px 0 0;
      }
      span.class-tag {
        font-size: 0.8rem;
      }
    }

    div.hp-bar {
      margin: 0 0 0 4px;
      display: flex;
      flex-direction: column;
      div {
        padding: 0;
        font-size: 0.75rem;
      }
      progress[value] {
        -webkit-appearance: none;
        appearance: none;

        width: 250px;
        height: 8px;
      }
      progress[value]::-webkit-progress-bar {
        background-color: rgba(255,255,255,.2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }
      progress[value]::-webkit-progress-value {
        background-image: linear-gradient(90deg, #1F1C18, #f85032 100%);
      }
    }

    .mp-bar {
      margin: 0 0 0 4px;
      display: flex;
      flex-direction: column;
      div {
        padding: 0;
        font-size: 0.75rem;
      }
      progress[value] {
        -webkit-appearance: none;
        appearance: none;

        width: 250px;
        height: 8px;
      }
      progress[value]::-webkit-progress-bar {
        background-color: rgba(255,255,255,.2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }
      progress[value]::-webkit-progress-value {
        background-image: linear-gradient(90deg, #000046, #1cb5e0 100%);
      }
    }
  }



}
