div.ui-layout-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "squad_ui squad_ui squad_ui ph_1 ph_1 ph_1"
    "squad_ui squad_ui squad_ui ph_2 ph_2 ph_2"
    "ph_3 ph_3 ph_3 ph_3 ph_3 ph_3"
    "action_ui action_ui action_ui action_ui action_ui b"
    "action_ui action_ui action_ui action_ui action_ui b";
  grid-template-columns: repeat(6, 1fr); // 5 columns
  grid-template-rows: repeat(5, 1fr); // 5 rows

  > * {
    background-color: rgba(0, 0, 0, .2);
  }

  .combat-ui {
    border: solid 4px darken(#282e34, 5%);
    background-color: #282e34;
    color: white;
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  div.squad-ctr {
    grid-area: squad_ui;

    div.party-state-ctr div.party-member-state-ui {
      margin: 10px 0;
      padding: 10px;
      width: 80%;
    }
  }

  div.action-ctr {
    grid-area: action_ui;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "ph ph ph"
      "player_ui player_ui player_ui"
      "player_ui player_ui player_ui"
      "ability ability ability"
      "ability ability ability";
    grid-template-columns: repeat(3, 1fr); // 5 columns
    grid-template-rows: repeat(5, 1fr); // 5 rows

    div.player-state-ctr{
      grid-area: player_ui;
      margin: 10px;
    }

    div.ability-list {
      grid-area: ability;
      display: flex;
      flex-direction: row;
      margin: 0 10px;
      div.ability {
        flex: 1;
        flex-direction: column;
        div.rune {
          width: 80px;
          height: 80px;
          //margin: 20px;
          //-webkit-transform: rotate(45deg);
          //-moz-transform: rotate(45deg);
          //-o-transform: rotate(45deg);
          //-ms-transform: rotate(45deg);
          //transform: rotate(45deg);

        }
        div.name {
          padding: 6px 0 0 0;
        }
      }
    }
  }
}
