div.ui-layout-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "squad_ui squad_ui squad_ui ph_1 ph_1 ph_1"
    "squad_ui squad_ui squad_ui ph_2 ph_2 ph_2"
    "ph_3 ph_3 ph_3 ph_3 ph_3 ph_3"
    "combat_ui combat_ui combat_ui combat_ui combat_ui b"
    "combat_ui combat_ui combat_ui combat_ui combat_ui b";
  grid-template-columns: repeat(6, 1fr); // 5 columns
  grid-template-rows: repeat(5, 1fr); // 5 rows

  > * {
    background-color: rgba(0, 0, 0, .2);
  }

  .combat-ui {
    border: solid 4px darken(#282e34, 5%);
    background-color: #282e34;
    color: white;
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  div.squad-ctr {
    grid-area: squad_ui;

    div.party-state-ctr div.party-member-state-ui {
      margin: 10px 0;
      padding: 10px;
      width: 80%;
    }
  }

  div.combat-ui-ctr {
    grid-area: combat_ui;
  }
}
